
<body>
    body {
        background-color: #fcfbfb;

    }
    <div id="content">
    header {
        background-color:rgba(20,30,13, .7);
    }
    nav a {
        color: rgb(110, 8, 8);
        text-decoration: none;
    }
    nav a:hover {
        background-color: black;
        color: #fcfbfb;
    }
    .home-title{
        color: aqua;
    }
    .book,.join {
        background-color: aliceblue;
        text-decoration: none;

    }
    .book:hover, .join:hover {
        background-color: aqua;
    }
    #backround {
        background-color: #fcfbfb;
    }
    .msg {
        background-color: aliceblue;
    }
    footer {
        background-color: aqua;
    }
    

    #hero-image {
        width: 100px;
    }
    .icon {
        width: 80px;
    }
         max-width: 1600px;
        text-aline margin: 0 auto;
        nav a 
            text-align: center;
            
        #hero-msg h1
            text-aline: center;
        #hero-msg h4
            text-aline: center;
        .button-box
            text-aline: center;
        main section
            text-aline: center;
        
<section class="rapids-card">
<img class="boat" src="images/rapids.jpg" alt="rafting boat">
<img class="oars" src="images/oars.png" alt="oars icon">
<h2>Rapids</h2>
</section>
<div id="background"></div> #background {
    height: 725px;
}
<img class="mountains" src="images/mountains.jpg" alt="Misty mountains">
<section class="msg">
<h2>More Than Just The Thrill</h2>
<p>Enjoy the breathtaking scenery. From valleys, meadows, canyons, and high peaks; it's way more than just the rapids. It's a great way to get away from it all and relax amongst all the beauty of the great outdoors. </p>
<a class='join' href="rivers.html">Join Us</a>
</section>

        <header>
    ...
        </footer>
        footer p {
            font-size: 1.2em;
        } 
        footer p a:hover {
            text-decoration: underline;
        }  
    </div>
</body>